*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: purple;
    color: white;

}
form{
    margin: 0 auto;
    width: 50%;
}
div{
    margin: 2em
    gap: 1rem;
}
